@{
    ViewData["Title"] = "Patients";
}
@model List<Patient>

<div class="container">
    <h1 class="display-4 text-center">Patient Portal</h1>
    <div class="text-end mb-3">
        <a href="/patients/new" class="btn btn-success w-25">Add New Patient</a>
    </div>
    <table class="table text-center table-hover align-middle">
        <thead>
            <tr>
                <th scope="col" class="col-1">Account Number</th>
                <th scope="col" class="col-1">Client Name</th>
                <th scope="col" class="col-1">City</th>
                <th scope="col" class="col-1">State</th>
                <th scope="col" class="col-1">Zip</th>
                <th scope="col" class="col-1">Home Phone</th>
                <th scope="col" class="col-1">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Patient p in Model)
            {
                string phoneNumber = string.Empty;
                if (p.HomePhone != null)
                {
                    phoneNumber = p.HomePhone;
                }
                else if (p.BusinessPhone != null && p.HomePhone == null)
                {
                    phoneNumber = p.BusinessPhone;
                }
                else if (p.CellPhone != null && p.BusinessPhone == null && p.HomePhone == null)
                {
                    phoneNumber = p.CellPhone;
                }

                <tr ondblclick="viewPatient(@p.PatientKey)" style="cursor: pointer">
                    <td>@p.AccountNumber</td>
                    <td>@p.LastName, @p.FirstName</td>
                    <td>@p.City</td>
                    <td>@p.State</td>
                    <td>@p.ZipCode</td>
                    <td>@phoneNumber</td>
                    <td><a href="/patients/edit/@p.PatientKey" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>

            }
        </tbody>
    </table>
    <script>function viewPatient(patientId) {
            window.location.href = `/patients/view/${patientId}`
        }</script>

</div>

